.navbar {
    justify-content: center;
    margin: 10px;
}

.active {
    text-decoration: none;
}
.dark-gray.active {
    color: rgb(40, 84, 75);
    font-size:x-large;
}

.sage.active {
    color: rgb(172, 189, 134);
    font-weight: bold;
}

.caramel.active {
    color: rgb(255, 160, 111);
    border: solid black;
    border-radius: 5px;

}
